<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ProductWebServiceSoap1" />
                <binding name="CustomerWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44307/ProductWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProductWebServiceSoap"
                contract="ProductWebServiceReferenceComsumer.ProductWebServiceSoap"
                name="ProductWebServiceSoap" />
            <endpoint address="https://localhost:44307/CustomerWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerWebServiceSoap"
                contract="MusteriWebServiceReferenceConsumer.CustomerWebServiceSoap"
                name="CustomerWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>